@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: flex;
  width: fit-content;
  animation: marquee 25s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}
